<div class="container names-greeted">
    <h2>Names Greeted</h2>

    <div class="test">
        <ul>
            {{#each greetedNames}}
                <li><a href="/summary/{{username}}">{{username}}</a></li>

            {{/each}}

        </ul>
    </div>
    <h3><a href="/">Home</a></h3>
</div>