
        <div class="container">
            <h2>Names Greeted</h2>
        
            <div class="test">
                 <ul>
                     {{#each greetedNames}}
                    <li><a href="#">{{name}}</a></li>

                    {{/each}}
                </ul>
                
            </div>
            
        </div>
    