<div class="container user-greeted">
    <h2>User Greeted</h2>

    <div class="summary">
        <h4>Hello, {{userSelected}} has been greeted {{greetedCount}} time(s)</h4>

    </div>

    <h4><a href="/greeted">Names Greeted</a></h4>
    <h4><a href="/">Home</a></h4>
</div>