<div class="container user-greeted">
    <h2>User Greeted</h2>

    <div class="summary">
        <h4>Hello, {{userGreeted.name}} has been greeted {{userGreeted.greet}} time(s)</h4>

    </div>
</div>